#root{
    padding: 24px;
}

body{
    margin: 0;
    background-color: #F6F6F6;
}

#border-dropdown{
    background-color: #f4f4f4;
    border: 1px solid white;
}
.first{
    display: flex;
    align-items:flex-end ;
}

.second img{
    width: 100%;
}

.first img{
    width: 264px;
}